{% extends 'base.html.twig' %}

{% block body %}
  <h2>Catégories</h2>
  {% for categorie in categories %}
    <ul>
      <li>{{ categorie.label }}</li>
    </ul>
  {% endfor %}
{% endblock %}

{% block title %}
  {{ parent() }} | Liste des catégories
{% endblock %}

