<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}TP Bonus{% endblock %}</title>

  <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
  <header>
    <div class="container">
      <h1>ENI Market Place</h1>
      <nav class="nav-bar">
        <a href="{{ path('main_home') }}" title="Retour à l'accueil">Accueil</a>
        <a href="#">Liste des produits</a>
        <a href="{{ path('produits_create') }}" title="Ajouter un produit">Ajout d'un produit</a>
      </nav>
    </div>
  </header>

  <main>
    <div class="container">
      {% block body %}
      {% endblock %}
    </div>
  </main>

  <footer>
    <div class="container">
      <div>&copy; {{ "now" | date('Y') }} ENI Ecole Informatique</div>
    </div>
  </footer>
</body>
</html>
